<div class="my-custom-categories">
  <h3>Extra Categories</h3>
  <a href="/c/tracks-desktop/12" class="category-box">Tracks Desktop</a>
  <a href="/c/pocket-tracks/15" class="category-box">Pocket Tracks</a>
  <a href="/c/how-do-i/17" class="category-box">How Do I?</a>
</div>